<div id="followers-line"></div>

<div class="container">
  <ul id="dropdown" class="dropdown-content">
      <li><a onclick="updateLineData('<%= asset_path "keep/followers/followers_2017.csv" %>')">2017</a></li>
      <li><a onclick="updateLineData('<%= asset_path "keep/followers/followers_2016.csv" %>')">2016</a></li>
      <li><a onclick="updateLineData('<%= asset_path "keep/followers/followers_2015.csv" %>')">2015</a></li>
      <li><a onclick="updateLineData('<%= asset_path "keep/followers/followers_all.csv" %>')">All</a></li>
  </ul>
  <a class="btn dropdown-button" href="#" data-activates="dropdown">Click<i class="mdi-navigation-arrow-drop-down right"></i></a>
</div>

