<!-- VERSION 4 -->
<div id="word-bar"></div>

<%= javascript_include_tag "https://d3js.org/d3.v4.min.js" %>
<script>


var margin = {top: 50, right: 100, bottom: 50, left: 100},
    width = 1250 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var svg = d3.select("div#word-bar").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .attr("class", "d3")
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var tooltip = d3.select("body").append("div").attr("class", "toolTip");

var x = d3.scaleLinear().range([0, width]);
var y = d3.scaleBand().range([height, 0]);

d3.json('<%= asset_path "words.json" %>', function(error, data) {
    if (error) throw error;
console.log(data);
    data.sort(function(a, b) { return a.value - b.value; });

    x.domain([0, d3.max(data, function(d) { return d.value; })]);
    y.domain(data.map(function(d) { return d.word; })).padding(0.1);

    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x));

    svg.append("g")
        .attr("class", "y axis")
        .call(d3.axisLeft(y));

    svg.selectAll(".bar")
        .data(data)
      .enter().append("rect")
        .attr("class", "bar")
        .attr("x", 0)
        .attr("y", function(d) { return y(d.word); })
        .attr("height", y.bandwidth())
        .attr("width", function(d) { return x(d.value); })
        .on("mouseover", function(d) {
            tooltip
              .style("left", d3.event.pageX - 50 + "px")
              .style("top", d3.event.pageY - 90 + "px")
              .style("display", "inline-block")
              .html(d.value)
        .on("mouseout", function(d){ tooltip.style("display", "none"); });
        });
});
</script>
