/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url('https://fonts.googleapis.com/css?family=Baloo|Boogaloo|Crafty+Girls|Finger+Paint|Gloria+Hallelujah|Londrina+Solid|Patrick+Hand');
$header-font: 'Baloo', cursive;
$base-font: 'Crafty Girls', cursive;


// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;



$twitter-blue: #1DCAFF;
$pastel-blue: #C6FEFF;
$sky-blue: #9AD4FF;
$navy-blue: #000080;
$grey: #F7F7F7;
$charcoal: #E2E2F1;
$black: black;
$white: white;
