.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.bar {
  fill: $twitter-dark-blue;
}

.bar:hover {
  fill: white;
}

.toolTip {
  color: black;
  text-align: center;
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: gainsboro;
  border: 5px solid black;
  padding: 14px;
}

.toolTip2 {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
