.axis {
  font-size: 12px;
}

.axis path,
.axis line {
  stroke: black;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.bar {
  fill: $twitter-dark-blue;
}

.bar:hover {
  fill: $twitter-verified-blue;
}

.toolTip {
  color: black;
  font-size: 20px;
  text-align: center;
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: white;
  border: 3px solid black;
  border-radius: 25px;
  padding: 14px;
}


.svg-background{
  background: white;
  border-radius: 35px;
  margin-left: 50px;
  margin-top: 50px;
    border: 5px solid blue;

}
