// @import "axis";

.axis {
  font: 15px sans-serif;
}
.axis path, .axis line {
  stroke: black;
  stroke-width: 2px;
  shape-rendering: crispEdges;
  fill: none;
}
.x.axis path {
  display: none;
}


.bar {
  fill: blue;
}
.bar:hover {
  fill: navy;
}
