.logo-background {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  color: white;
  background-color: white;
}
.logo-image {
  padding-left: 8px;
  padding-bottom: 10px;
}
.material-icons {
  color: white;
}
nav .brand-logo {
  padding-top: 4px;
  padding-left: 8px;
}
