  <!-- Dropdown Trigger -->
  <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Drop Me!</a>
  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!" id="refresh">Jan</a></li>
    <li><a href="#!" id="refresh">Feb</a></li>
    <li><a href="#!" id="refresh">Mar</a></li>
  </ul>
