<div class="container">
  <div class="row">
    <div class="col s12">
      <h5 class="white-text">Tweets from Tiny Hands</h5>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
  © 2017 Copyright
  <a class="grey-text text-lighten-4 right" href="https://www.lewagon.com"></a>
  </div>
</div>
