<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Trump Tweets</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a '/home/#card-1'>card 1</a></li>
        <li><%= link_to "words", "/#words" %></li>
        <li><%= link_to "sentiment", "/#sentiment" %></li>
        <li><%= link_to "misc", "/#miscellaneous" %></li>
        <li><%= link_to "tweet", "/#generator" %></li>
        <li><a href="badges.html">card 2</a></li>
        <li><a href="collapsible.html">card 3</a></li>
      </ul>
    </div>
  </nav>
</div>
