<div class="section section-top right-align" id="content-4">
  <div class="row">
      <h2>Wanna try the tweet simulator?</h2>
  </div>
</div>
<%= render 'shared/parallax/parallax_skinny' %>
<div class="section section-bottom">
  <div class="row">
    <h3>Tweet Generator</h3>
    <hr>
  </div>
  <div class="row">
    <svg style="height:1000px;"></svg>
  </div>
</div>
