<div class="section section-top right-align" id="content-1">
  <div class="row">
    <h2>What's Trump Talking About?</h2>
  </div>
</div>
<%= render 'shared/parallax/parallax_skinny' %>
<div class="section section-bottom">
  <div class="row">
    <h3>Words</h3>
    <hr>
  </div>
  <div class="row">
    <div class="col s12">
      <svg class="outline" style="height:500px;width:960px;"></svg>
      <p>word cloud</p>
    </div>
  </div>
  <div class="row">
    <div class="col s8">
      <div class="col s6">
        <svg class="outline" style="height:300px;width:300px;"></svg>
        <p>people</p>
      </div>
      <div class="col s6">
        <svg class="outline" style="height:300px;width:300px;"></svg>
        <p>countries</p>
      </div>
    </div>
    <div class="col s4">
      <svg class="outline" style="height:500px;width:325px;"></svg>
      <p>bar chart</p>
    </div>
  </div>
</div>
