<div class="section section-top right-align" id="content-2">
  <div class="row">
      <h2>How's Trump Feeling?</h2>
  </div>
</div>
<%= render 'shared/parallax/parallax_skinny' %>
<div class="section section-bottom">
  <div class="row">
    <h3>Sentiment</h3>
    <hr>
  </div>
  <div class="row">
    <div class="col s4">
      <svg class="outline" style="height:300px;width:300px;"></svg>
      <p>trump face</p>
    </div>
    <div class="col s8">
      <svg class="outline" style="height:400px;width:700px;"></svg>
      <p>pie & bar</p>
    </div>
  </div>
  <div class="row">
    <div class="col s6 offset-s3">
      <svg class="outline" style="height:400px;width:700px;"></svg>
      <p>time bar</p>
    </div>
  </div>
  <div class="row">
    <div class="col s3">
      <svg class="outline" style="height:300px;width:250px;"></svg>
      <p>positive words</p>
    </div>
    <div class="col s3">
      <svg class="outline" style="height:300px;width:250px;"></svg>
      <p>negative words</p>
    </div>
    <div class="col s3">
      <svg class="outline" style="height:300px;width:250px;"></svg>
      <p>positive tweets</p>
    </div>
    <div class="col s3">
      <svg class="outline" style="height:300px;width:250px;"></svg>
      <p>negative tweets</p>
    </div>
  </div>
</div>
