  <div class="row">
    <div class="col s8">
      <svg class="outline" style="height:600px;width:960px;"></svg>
      <p>word cloud</p>
    </div>
    <div class="col s3 offset-s1">
      <svg class="outline" style="height:500px;width:325px;"></svg>
      <p>horizontal bar chart</p>

    </div>
  </div>
  <div class="row">
    <div class="col s3 offset-s3">
      <svg class="outline" style="height:300px;width:300px;"></svg>
      <p>people bubble chart</p>
    </div>
    <div class="col s3">
      <svg class="outline" style="height:300px;width:300px;"></svg>
      <p>countries bubble chart</p>
    </div>
  </div>
</div>
