<div class="section section-top right-align" id="content-3">
  <div class="row">
      <h2>#content-3</h2>
  </div>
</div>

<div class="section section-bottom">
  <div class="row">
    <h3>Other</h3>
    <hr>
  </div>
  <div class="row">
    <svg style="height:1000px;"></svg>
  </div>
</div>
