<div class="section section-top right-align" id="content-3">
  <div class="row">
      <h2>#content-3</h2>
  </div>
</div>
<%= render 'shared/parallax/parallax_skinny' %>
<div class="section section-bottom">
  <div class="row">
  </div>
</div>
