<html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>

  <div class="parallax-container">
    <div class="parallax"><img src="http://cdn.wallpapersafari.com/64/56/GFNz6y.png"></div>
  </div>
  <div class="section white">
    <div class="row container">

      <!--  -->
 <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <%= render 'shared/mocktime' %>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="fa fa-chevron-up right" aria-hidden="true"></i></i>
</span>
      <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>

    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="http://cdn.wallpapersafari.com/64/56/GFNz6y.png"></div>
  </div>



      <!-- parallex -->

      <div class="parallax-container">

  </div>
  <div class="section white">
    <div class="row container">

      <!--  -->
 <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <%= render 'shared/mocktime' %>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="fa fa-chevron-up right" aria-hidden="true"></i></span>
      <p><a href="#">This is a link</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>

    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="http://cdn.wallpapersafari.com/64/56/GFNz6y.png"></div>
  </div>


      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    </body>
  </html>

  <!--  -->

