<style>
  svg {
    border: 1px dotted red;
    margin: 5px;
  }

  text.y-axis-label,
  text.x-axis-label {
    font-size: 10px;
    font-weight: 700;
  }

   .row {
    margin-bottom: 5px;
  }

  .dc-chart .pie-slice {
    font-size: 12px;
    font-weight: bold;
  }

  #sentiment-chart text.pie-slice._1 {fill: black;}


</style>

<div class="container">

  <!-- TITLE/LOGO -->

  <br>
  <div class="row title-logo center-align">
      <%= image_tag("logo", size: "250", align: 'center') %>
  </div>
  <br><hr><br>

  <!-- MINI CHARTS: DAY, TIME, DEVICE, SENTIMENT -->
  <div class="row center-align">
      <div id="sentiment-chart">
          <strong>Tweets by Sentiment</strong>
          <a class="reset" href="javascript:sentimentChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>

          <div class="clearfix"></div>
      </div>

      <div id="day-chart">
          <strong>Tweets by Day</strong>
          <a class="reset" href="javascript:dayChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>

          <div class="clearfix"></div>
      </div>

      <div id="hour-chart">
          <strong>Tweets by Hour</strong>
          <a class="reset" href="javascript:hourChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>

          <div class="clearfix"></div>
      </div>

      <div id="device-chart">
          <strong>Tweets by Device</strong>
          <a class="reset" href="javascript:deviceChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>

          <div class="clearfix"></div>
      </div>
  </div>

  <!-- VOLUME CHART -->
  <div class="row">
    <div id="volume-chart">
        <strong>Tweet Timeline</strong>
        <a class="reset" href="javascript:volumeChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>

        <div class="clearfix"></div>
    </div>
  </div>

  <!-- DATATABLE AND DATA COUNT -->
  <div class="row">
    <div>
      <div class="dc-data-count">
        <span class="filter-count"></span> selected out of <span class="total-count"></span> records | <a
              href="javascript:dc.filterAll(); dc.renderAll();">Reset All</a>
      </div>
    </div>
    <table class="table table-hover dc-data-table"></table>
  </div>

  <div class="clearfix"></div>

</div>

<script>

// Create chart objects.
// var dataCount = dc.dataTable('.dc-data-count');
var dayChart = dc.rowChart('#day-chart');
var hourChart = dc.barChart('#hour-chart');
var deviceChart = dc.pieChart('#device-chart');
var sentimentChart = dc.pieChart('#sentiment-chart');
var volumeChart = dc.barChart('#volume-chart');
var dataTable = dc.dataTable('.dc-data-table');

// Various formatters.
var parseDateFormat = d3.time.format("%a %b %d %X %Z %Y");
var formatDate = d3.time.format('%a %m/%d');
var formatTime = d3.time.format('%I:%M %p');

// Shitty tweet cleaner to remove URLs.
function cleanTweet(text) {
    switch(true) {
        case /http:\/\/t.co+\S+/i.test(text):
          return text.replace(/https:\/\/t.co+\S+/gi,'');
          break;
        case /https:\/\/t.co+\S+/i.test(text):
          return text.replace(/https:\/\/t.co+\S+/gi,'');
          break;
        default:
          return text;
          break;
    }
};
// Regexs for device assignment.
function setDevice(source) {
    if (/Twitter for Android/i.test(source)) { return "Android"; }
    else if (/Twitter for iPhone/i.test(source)) { return "iPhone"; }
    else if (/Twitter Web Client/i.test(source)) { return "Web Client"; }
    else if (/Twitter for iPad/i.test(source)) { return "iPad"; }
    else if (/Twitter Ads/i.test(source)) { return "Ads"; }
    else if (/Instagram/i.test(source)) { return "Instagram"; }
    else if (/Periscope/i.test(source)) { return "Periscope"; }
    else if (/Media Studio/i.test(source)) { return "Media Studio"; }
    else { return "Unknown" }
};
// Temporary workaround to fake sentiment data.
function fakeSentiment (n) {
    if (n < 2) {
        return 'Positive';
    } else if (n > 6) {
        return 'Negative'
    }
    else {
        return 'Neutral'
    }
};


d3.json('<%= asset_path 'tweets.json' %>', function (data) {


    // Casting data into expected formats.
    data.forEach(function(d, i) {
        d.parsedDate = parseDateFormat.parse(d.created_at);
        d.date = formatDate(d.parsedDate);
        d.time = formatTime(d.parsedDate);
        d.sentiment = fakeSentiment(Math.random(10)*10);
        d.tweet = '<a href=' + d.url + '>' + d.text + '</a>';
    });

    // Load the data into CrossFilter.
    var facts = crossfilter(data);

    // Create data dimensions and groupings.
    var all = facts.groupAll();

    // Create full date dimension.
    var dateDimension = facts.dimension(function (d) { return d.parsedDate; });
    var dateGroup = dateDimension.group(d3.time.day);

    // Create time-of-day dimension.
    var hourDimension = facts.dimension(function(d) { return d.parsedDate.getHours() + d.parsedDate.getMinutes() / 60; });
    var hourGroup = hourDimension.group(Math.floor);

    // Create categorical day-of-week dimension
    var dayOfWeek = facts.dimension(function (d) {
        var day = d.parsedDate.getDay();
        var name = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
        return day + '.' + name[day];
    });
    var dayOfWeekGroup = dayOfWeek.group();

    // Create categorical device dimension
    var deviceDimension = facts.dimension(function (d) {
      if (d.device === 'Android' || d.device === 'iPhone' ) {
          return d.device;
      } else {
          return 'Other'
      }
    });
    var deviceGroup = deviceDimension.group();

    // Create categorical device dimension
    var sentimentDimension = facts.dimension(function (d) { return d.sentiment; });
    var sentimentGroup = sentimentDimension.group();

    // count all the facts
    dc.dataCount(".dc-data-count")
        .dimension(facts)
        .group(all);

    // Day of week row chart
    dayChart.height(200).width(250)
        .margins({top: 10, left: 10, right: 10, bottom: 40})
        .dimension(dayOfWeek)
        .group(dayOfWeekGroup)
        .ordinalColors(['#01579B', '#0277BD', '#0288D1', '#039BE5', '#03A9F4', '#29B6F6', '#4FC3F7'])
        .label(function (d) { return d.key.split('.')[1]; })
        .title(function(d) {return d.value + ' tweets';})
        .elasticX(true)
        .xAxis().ticks(4);

    // Time of day bar chart
    hourChart.height(200).width(340)
        .margins({top: 15, left: 30, right: 15, bottom: 30})
        .dimension(hourDimension)
        .group(hourGroup)
        .gap(1)
        .x(d3.scale.linear().domain([0, 24]))
        .title(function(d) {return d.value + ' tweets';})
        .xAxisLabel('Time of Day (24hr)')
        .elasticY(true)
        .yAxis().ticks(3);

    // Device pie chart
    deviceChart.height(200).width(175)
        .radius(80)
        .innerRadius(25)
        .dimension(deviceDimension)
        .group(deviceGroup)
        .ordinalColors(['#76FF03', '#424242', '#0091EA'])
        .title(function(d) {return d.value + ' tweets';})
        .label(function (d) { return d.key });


        // Device pie chart
    sentimentChart.height(200).width(175)
        .radius(80)
        .dimension(sentimentDimension)
        .group(sentimentGroup)
        .ordinalColors(['#ff0000', '#ffff00', '#00cf00'])
        .title(function(d) {return d.value + ' tweets';})
        .label(function (d) { return d.key });

    // Tweet bar chart
    volumeChart.height(175).width(1000)
        .margins({top: 20, left: 30, right: 20, bottom: 30})
        .dimension(dateDimension)
        .group(dateGroup)
        .round(d3.time.day.round)
        .x(d3.time.scale().domain(d3.extent(data, function(d) { return d.parsedDate; })))
        // .x(d3.time.scale().domain([new Date(2015, 5, 15), new Date(2017, 3, 1)]))
        .yAxisLabel('Tweets')
        .yAxis().ticks(5);

    // Data table
    dataTable
        .dimension(dateDimension)
        .group(function(d) { return "Tweet Table" })
        .size(50)
        .columns([
            'date',
            'time',
            'tweet',
            'device'
        ])
        .sortBy(function(d){ return d.parsedDate; })
        .order(d3.descending)
        .on('renderlet', function (table) {
            table.select('tr.dc-table-group').remove();
        });

    dc.renderAll();

});
</script>
