
<svg width="400" height="400" class="clock"></svg>


<%= render 'shared/header' %>
<style>
  body {
    background-image: url("http://cdn.wallpapersafari.com/64/56/GFNz6y.png");
    background-size: contain;
    height: 500vh;
  }
  div.test {
    width: 100%;
    height: 90vh;
    background: white;
  }
  div.test2 {
    width: 100%;
    height: 50vh;
  }
</style>

<h1>Tweets from Tiny Hands</h1>
<p>Think of all the years passed by in which you said to yourself "I'll do it tomorrow," and how the gods have again and again granted you periods of grace of which you have not availed yourself. It is time to realize that you are a member of the Universe, that you are born of Nature itself, and to know that a limit has been set to your time. Use every moment wisely, to perceive your inner refulgence, or 'twill be gone and nevermore within your reach. - Marcus Aurelius</p>
<div class="test"></div>
<div class="test2"></div>
<div class="test"></div>
<div class="test2"></div>
<div class="test"></div>
<div class="test2"></div>
<div class="test"></div>
