



<div style='color:black'>

<p>
<hr>
    john:
    maybe try to set up background calls w/ marina? just stay busy with API stuff, then whatever's next to get site live with calls updating our database. also brainstorm with neil what our best 5 data sets would be given you've now had a little exp with the actual data.
<hr>
    neil:
    we can categorize words/phrases like I've faked in the csv for cloud view- also checkout sentiment view. play around with real data and think of other shit we can do. then maybe work on sentiment analysis stuff? or do whatever haha
<hr>
    fatuma:
    would be really helpful if you could setup materialize w/ nick and remove bootsrap, makesure things work okay.
    i am going to dive into d3 so youre going to handle all design stuff right now!
    look into font/colors/background/etc, narrow down to a couple favorites -- wanna keep evolving and making site look more pro. feel free to test components on your page too
</p>



=======
<svg width="400" height="400" class="clock"></svg>

