<div class="row">

  <!-- SIDE NAV -->
  <div class="card-panel green col s12 m4 l3">
    <span class="white-text flow-text" style="font-size:16px;">This content will be: 3-columns-wide on large screens, 4-columns-wide on medium screens, 12-columns-wide on small screens. Think of all the years passed by in which you said to yourself "I'll do it tomorrow," and how the gods have again and again granted you periods of grace of which you have not availed yourself. It is time to realize that you are a member of the Universe, that you are born of Nature itself, and to know that a limit has been set to your time. Use every moment wisely, to perceive your inner refulgence, or 'twill be gone and nevermore within your reach. - Marcus Aurelius Think of all the years passed by in which you said to yourself "I'll do it tomorrow," and how the gods have again and again granted you periods of grace of which you have not availed yourself. It is time to realize that you are a member of the Universe, that you are born of Nature itself, and to know that a limit has been set to your time. Use every moment wisely, to perceive your inner refulgence, or 'twill be gone and nevermore within your reach. - Marcus Aurelius Think of all the years passed by in which you said to yourself "I'll do it tomorrow," and how the gods have again and again granted you periods of grace of which you have not availed yourself. It is time to realize that you are a member of the Universe, that you are born of Nature itself, and to know that a limit has been set to your time. Use every moment wisely, to perceive your inner refulgence, or 'twill be gone and nevermore within your reach. - Marcus Aurelius</span>
  </div>

  <!-- MAIN CONTENT -->
  <div class="card-panel purple col s12 m8 l9">
    <span class="white-text flow-text">This content will be: 9-columns-wide on large screens, 8-columns-wide on medium screens, and 12-columns-wide on small screens.<br><br>Think of all the years passed by in which you said to yourself "I'll do it tomorrow," and how the gods have again and again granted you periods of grace of which you have not availed yourself. It is time to realize that you are a member of the Universe, that you are born of Nature itself, and to know that a limit has been set to your time. Use every moment wisely, to perceive your inner refulgence, or 'twill be gone and nevermore within your reach. - Marcus Aurelius. Think of all the years passed by in which you said to yourself "I'll do it tomorrow," and how the gods have again and again granted you periods of grace of which you have not availed yourself. It is time to realize that you are a member of the Universe, that you are born of Nature itself, and to know that a limit has been set to your time. Use every moment wisely, to perceive your inner refulgence, or 'twill be gone and nevermore within your reach. - Marcus Aurelius<br><br>Think of all the years passed by in which you said to yourself "I'll do it tomorrow," and how the gods have again and again granted you periods of grace of which you have not availed yourself. It is time to realize that you are a member of the Universe, that you are born of Nature itself, and to know that a limit has been set to your time. Use every moment wisely, to perceive your inner refulgence, or 'twill be gone and nevermore within your reach. - Marcus Aurelius. Think of all the years passed by in which you said to yourself "I'll do it tomorrow," and how the gods have again and again granted you periods of grace of which you have not availed yourself. It is time to realize that you are a member of the Universe, that you are born of Nature itself, and to know that a limit has been set to your time. Use every moment wisely, to perceive your inner refulgence, or 'twill be gone and nevermore within your reach. - Marcus Aurelius</span>
  </div>

</div>

<!-- GRIDS -->
<div class="row">
  <div class="col s12">
    <div class="card-panel blue"><span class="white-text">s12</span></div>
  </div>
  <div class="col s12 m4 l2">
    <div class="card-panel teal"><span class="white-text">s12 m4 l2</span></div>
  </div>
  <div class="col s12 m4 l8">
    <div class="card-panel teal lighten-2"><span class="white-text">s12 m4 l8</span></div>
  </div>
  <div class="col s12 m4 l2">
    <div class="card-panel teal"><span class="white-text">s12 m4 l2</span></div>
  </div>
</div>
<!-- GRIDS -->
<div class="row">
  <div class="col s12 m6 l3">
    <div class="card-panel orange"><span class="white-text">s12 m6 l3</span></div>
  </div>
  <div class="col s12 m6 l3">
    <div class="card-panel orange"><span class="white-text">s12 m6 l3</span></div>
  </div>
  <div class="col s12 m6 l3">
    <div class="card-panel orange"><span class="white-text">s12 m6 l3</span></div>
  </div>
  <div class="col s12 m6 l3">
    <div class="card-panel orange"><span class="white-text">s12 m6 l3</span></div>
  </div>
</div>
