
<div class="parallax-container parallax-banner">
  <div class="parallax">
    <div class="banner" style="background-image: url('<%= image_path("backgrounds/birds_dark_pattern") %>');">
      <div class="banner-content">
        <h2 id="content-1"class="right">What's Trump Talking About?</h2>

      </div>
    </div>
  </div>
</div>
</div>
