<div class="parallax-container parallax-banner">
  <div class="parallax">
    <div class="banner" style="background-image: url('<%= image_path("trump/trump_bird") %>');">
      <div class="banner-content left-align">
        <h1>Tweets<br>from<br>Tiny<br>Hands</h1>
        <h5>Data driven satire.</h5>
      </div>
    </div>
  </div>
</div>
</div>
