<div class="parallax-container parallax-banner">
  <div class="parallax">
    <div class="banner" style="background-image: url('<%= image_path("backgrounds/birds_dark_pattern") %>');">
      <div class="banner-content" id="content-1">
        <h2 class="right">What's Trump Talking About?</h2>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container parallax-banner">
  <div class="parallax">
    <div class="banner" style="background-image: url('<%= image_path("backgrounds/birds_dark_pattern") %>');">
      <div class="banner-content" id="content-2">
        <h2 class="right">How's Trump Feeling?</h2>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container parallax-banner">
  <div class="parallax">
    <div class="banner" style="background-image: url('<%= image_path("backgrounds/birds_dark_pattern") %>');">
      <div class="banner-content" id="content-3">
        <h2 class="right">How big is Trump's following?</h2>
      </div>
    </div>
  </div>
</div>



<div class="section section-bottom center-align">
  <div class="row">
    <div class="col s10">
      <div class="card-panel grey lighten-2">
        <h1>Word Cloud</h1>
        <div id="word-cloud"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <div class="card-panel grey lighten-2">
        <h1>Top Ten Words</h1>
        <div id="word-bar"></div>
      </div>
    </div>
  </div>
</div>






<!--

<div class="section section-bottom center-align">
  <div class="row">
    <div class="col s8">
      <div class="card-panel grey lighten-2">
        <h1>Sentiment by Day</h1>
        <div id="sentiment"></div>
      </div>
    </div>
    <div class="col s4">
      <div class="card-panel grey lighten-2">
        <h1>Device Breakdown</h1>
        <div id="device"></div>
      </div>
    </div>
  </div>
</div>


<div class="section section-bottom center-align">
  <div class="row">
    <div class="col s10">
      <div class="card-panel grey lighten-2">
        <h1>Trump's Following</h1>
        <div id="followers-line"></div>
      </div>
    </div>
    <div class="col s4">
      <div class="card-panel grey lighten-2">
        <h1>Reading Level</h1>
        <div id="reading-level" style="height:300px;"></div>
          <span class="blue-text">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
          </span>
      </div>
    </div>
  </div>
</div>

 -->
