.parallax-header {
  position: absolute;
  left: 20px;
  bottom: 190px;
  color: $white;
  h2 {
    font-family: $header-font;
  }
  h3 {
    font-family: $base-font;
  }
}

.trump-image {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 0;
  padding-right: 0;
}

.hawk {
  width: 90%;
}

// .section {
//   background: #F0F0F0;
// }
