.parallax-header {
  position: absolute;
  left: 0px;
  bottom: 20px;
  background-color: #1CA6F4;
  color: white;
  padding: 0 20px;
  margin: 0;
  width: 100vw;
  text-align: center;
  h2 {
    font-size: 3em;
    margin: 0 0;
    font-family: $header-font;
  }
  h3 {
    font-family: $base-font;
  }
}

.second-header {
  position: absolute;
  left: 0px;
  bottom: 20px;
  color: white;
  padding: 0 20px;
  margin: 0;
  h2 {
    font-size: 3em;
    margin: 0 0;
    font-family: $header-font;
  }
  h3 {
    font-family: $base-font;
  }
}
.trump-image {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 0;
  padding-right: 0;
}

.blue-background{
  background-color: #1CA6F4;
}

.hawk {
  width: 90%;
}

.trump-background {
  background: url('trumpsilhouette.png');
  background-size: cover;
  // width: 100vw;
}

// .section {
//   background: #F0F0F0;
// }
//<%= image_tag "trumpsilhouette.png", style: "position: relative;"%>
