<style>
  text {
    fill: white;
  }
</style>
<div id="bar-chart4"></div>

<script>

d3.json('<%= asset_path "final/time/all_hours.json" %>', function(error, data) {

    if (error) throw error;

    //  TODO: data[x].time where x = month
    var hours = data[0].time;

    var margin = {top: 30, right: 10, bottom: 30, left: 50}

    var height = 500 - margin.top - margin.bottom,
        width = 960 - margin.left - margin.right,
        barWidth = 40,
        barOffset = 20;

    var dynamicColor;

    var yScale = d3.scale.linear()
        .domain([0, d3.max(hours)])
        .range([0, height])

    var xScale = d3.scale.ordinal()
        .domain(d3.range(0, hours.length))
        .rangeBands([0, width])

    var awesome = d3.select('#bar-chart4').append('svg')
        .attr('width', width + margin.left + margin.right)
        .attr('height', height + margin.top + margin.bottom)
        .style('background', 'black')
        .append('g')
        .attr('transform', 'translate(' + margin.left + ', ' + margin.top + ')')
        .selectAll('rect').data(hours)
        .enter().append('rect')
        .style({'fill': '#1DCAFF', 'stroke': 'white', 'stroke-width': '3'})
        .attr('width', xScale.rangeBand())
        .attr('x', function (data, i) {
            return xScale(i);
        })
        .attr('height', 0)
        .attr('y', height)
        .on('mouseover', function (data) {
            dynamicColor = this.style.fill;
            d3.select(this)
                .style('fill', 'blue')
        })

        .on('mouseout', function (data) {
            d3.select(this)
                .style('fill', dynamicColor)
        })

    awesome.transition()
        .attr('height', function (data) {
            return yScale(data);
        })
        .attr('y', function (data) {
            return height - yScale(data);
        })
        .delay(function (data, i) {
            return i * 20;
        })
        .duration(2000)
        .ease('elastic')

    var verticalGuideScale = d3.scale.linear()
        .domain([0, d3.max(hours)])
        .range([height, 0])

    var vAxis = d3.svg.axis()
        .scale(verticalGuideScale)
        .orient('left')
        .ticks(10)

    var verticalGuide = d3.select('svg').append('g')
    vAxis(verticalGuide)
    verticalGuide.attr('transform', 'translate(' + margin.left + ', ' + margin.top + ')')
    verticalGuide.selectAll('path')
        .style({fill: 'none', stroke: "white"})
    verticalGuide.selectAll('line')
        .style({stroke: "white"})

    var hAxis = d3.svg.axis()
        .scale(xScale)
        .orient('bottom')
        .ticks(hours.size)

    var horizontalGuide = d3.select('svg').append('g')
    hAxis(horizontalGuide)
    horizontalGuide.attr('transform', 'translate(' + margin.left + ', ' + (height + margin.top) + ')')
    horizontalGuide.selectAll('path')
        .style({fill: 'none', stroke: "white"})
    horizontalGuide.selectAll('line')
        .style({stroke: "white"});

});
</script>
