// Graphical variables
@import "config/variables";
@import "config/materialize";


// External libraries
// add materialize sprockets



@import "materialize";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "pages/index";
@import "vendor/index";
@import "d3/index";
@import "components/index";
@import "layouts/index";


body {
  background: white;
}




/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 600px;
  line-height: 0;
  height: auto;
  color: black;
}
  .parallax-container .section {
    width: 100%;
  }

#index-banner {
    height:70vh;
}
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

