// Graphical variables
@import "config/variables";


// External libraries
// add materialize sprockets



@import "materialize";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "pages/index";

@import "vendor/index";
@import "d3/index";


body {
  color: white;
  background: white;
  background: linear-gradient(to top, $twitter-background-blue 0%, $twitter-verified-blue 100%);
  min-height: 100vh;
  flex-direction: column;
  display: flex}

main {
    flex: 1 0 auto;
  }

nav {

background: $twitter-background-blue 10%,

}





