<div class="section section-bottom">
  <div class="row">
    <div class="col s12">
      <h1>Sentiment by Day</h1>
      <div id="sentiment"></div>
    </div>
    <div class="cols 12">
      <h1>Device Breakdown</h1>
      <button id="refresh">Refresh Data</button>
      <div id="device"></div>
    </div>
  </div>
</div>
