<div class="section section-bottom center-align">
  <div class="row">
    <div class="col s10">
      <div class="card-panel grey lighten-2">
        <h1>Word Cloud</h1>
        <div id="word-cloud"></div>
        <%= render 'shared/dropdown' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <div class="card-panel grey lighten-2">
        <h1>Top Ten Words</h1>
        <div id="word-bar"></div>
        <%= render 'shared/dropdown' %>
      </div>
    </div>
  </div>
</div>


