<header>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo"><%= image_tag("bird_avatar", size: "50", align: "center")%></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="https://www.lewagon.com/copenhagen">Lewagon</a></li>
        <li><a href="http://ryden-rails.herokuapp.com/">Portfolio</a></li>
        <li><a href="https://github.com/rydena021/rails-tiny-hands">GitHub</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="https://www.lewagon.com/copenhagen">Lewagon</a></li>
        <li><a href="http://ryden-rails.herokuapp.com/">Portfolio</a></li>
        <li><a href="https://github.com/rydena021/rails-tiny-hands">GitHub</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</header>
